
.like-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    padding: 7px 10px;
    cursor: pointer;
    margin-bottom: -20px;

    .like-comment{
       display: grid;
       grid-template-columns: auto auto auto auto;
       margin-top: 5px;
    }

    .hr-line{
        margin-top: -15px;
        hr{
            border: 1px solid rgb(181, 181, 181);
        }
    }
    p{
        font-family: system-ui;
        font-weight: 400;
        color: rgba(58, 58, 58, 0.835);
        font-size: 12px;
        margin-left: 5px;
    }
    .likes-comment-inner{
        display: flex;
        align-items: center;
        margin-top: -20px;

        p{
            font-family: Inter,sans-serif;
            font-weight: 400;
            color: rgba(58, 58, 58, 0.835);
            font-size: 16px;
            margin-left: 5px;
        }

        .blue{
            color: #0a66c4;
        }

        .black{
            color: rgba(58, 58, 58, 0.835);

        }
    }

    .comment-input{
        height: 40px;
        background-color: whitesmoke;
        padding-left: 7px;
        border-radius: 30px;
        border: 1px solid #4b4b4b;
    }
    

    .comment-input:focus{
        outline: 1px solid #4b4b4b;
        color: #4b4b4b;
    }

    .add-comment{
        width: 150px;
        height: 35px;
        background-color: #0a66c2;
        outline: none;
        border: none;
        cursor: pointer;
        border-radius: 30px;
        margin-top: 15px;
        margin-bottom: 15px;
        color: white;
    }

    .all-comments{
        display: flex;
        justify-content: center;
        flex-direction: column;
        background-color: rgb(227, 227, 227);
        border-radius: 10px;
        position: relative;
        margin: 7px 0;

        .name{
            color: #212121;
            text-decoration: none;
            margin-left: 10px;
            margin-top: 10px;
           
        }

        .comment{

            margin-left: 10px;
            margin-top: 0px;
        }
        .timestamp{
            position: absolute;
            top:0px;
            right: 10px;
        }
    }

}