.search-users{
    width: 40%;
    margin-left: 20px;
    display: flex;
    align-items: center;
    .close-icon{
        margin-left: -40px;
        color: #707070;

    }
    input{
        height: 30px;
        width: 100%;
        background-color: whitesmoke;
        border: 1px solid #bbbbbb;
        border-radius: 30px;
        color: #212121;
        padding-left: 10px;
        font-size: 14px;
        font-family: Inter;
        outline: none;
    }
    input:focus{
        border: 1px solid #707070;

    }

    ::placeholder{
        font-size: 14px;
        font-family: Inter;

    }

    .search-inner{
        img{
            width: 40px;
            height: 40px;
        }
    }
}