.modal-input{
    outline: none;
    border: none;
    width: 100%;
    background-color: white;
    color: black;
    font-size: 14px;
    font-family: system-ui;
    resize: none;
}

.ql-container.ql-snow, .ql-toolbar.ql-snow{
    border: none !important;
}

.ql-container.ql-snow{
    height: 150px;
    font-size: 20px;
    font-family: system-ui;
}
.picture-icon{
    color: #0073b1;
    cursor: pointer;
    position: absolute;
    bottom: 20px;
}

.preview-image{
    width: 100%;
}

.posts-body{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    .progress-bar{
        padding: 20px;
    }
}
